.img-logo{
    height: 65px;
    width: 120px;
    margin-top: 0;
}

.noto-serif-noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
}
.ul-p{
    list-style: disc;
}
.ul-nav{
    list-style: none;
    display: flex;
    gap: 40px;
}
ul li::marker{
    color:rgba(137, 135, 161, 1); 
}
a{
    text-decoration: none;
}
.home{
    color: black;
    font-weight: 400;
}
.light-grey{
    color: rgba(137, 135, 161, 1);
}
.cart1{
    color: black;
}
.cart{
    height: 19px;
    width: 20px;
}
.shop{
    display: flex;
}
.herof{
    height: 355px;
    width: 570px;
}
.header1{
    margin-top: 18px;
}

.banner{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    margin-bottom: 23px;
    gap: 55px;
}
.fresh{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}
.orange{
    color: rgba(233, 90, 8, 1);
}
.para1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.para2{
    text-align: center;
}
.card{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin-left: 150px ;
    margin-right: 150px;
    gap: 20px;
}
.img-card{
    width: 270px;
    height: 322px;
}
.btn{ 
    color: white;
    height: 50px;
    width: 272px;
    background-color:rgba(233, 90, 8, 1);
    border: 0;
} 
.card-text{
    text-align: center;
}
.badge{
    height: 286px;
    width: 286px;
    transform: translate(350px, -700px);
}
.flower-store{
    height: 597PX ;
    width: 540PX ;
}
.container2{
    display: flex;
    margin-top: 127px ;
    margin-left: 150px;
    margin-right: 150px; 
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 50px;
}
.fpl{
    font-weight: bold;
    font-size: 50px;
}
.indulge{
    font-size: 20px;
}

.form1{
    background-image: url(../assets/news-letter-bg.png);
    width: 1440px;
    height: 533px;
    text-align: center;
}
.btn2{
    background-color:rgba(233, 90, 8, 1) ;
    color: white;
    border: 0;
    height: 50px;
    width: 186px;
}
.mail{
    color:rgba(137, 135, 161, 1) ;
    height: 43px;
    width: 644px;
    font-size: small;
}
.join-bunch{
    font-weight: bold;
    font-size: 50px;
    color: aliceblue;
    padding-top: 200px;
}
